@font-face {
  font-family: "GothamRoundedMedium";
  src: url("../fonts/GothamRoundedMedium_21022.ttf");
}

@font-face {
  font-family: "GothamRoundedMediumItalic";
  src: url("../fonts/Gotham Rounded Medium Italic.otf");
}

@font-face {
  font-family: "GothamRoundedBook";
  src: url("../fonts/GothamRoundedBook_21018.ttf");
}
