$primary-color: #ffffff;
$secondary-color: #f3f5f8;
$accent-color: #3dc9b3;
$accent-shadow-color: #309383;
$caption-color: #353535;
$paragraph-color: #8c9398;
$header-color: #a1a9b0;
$dottes-color: #d2d7dd;
$team-icons-color: #34383f;
$contacts-shadow-color: #f1f1f1;
$bg-dark-color: #242830;

$main-font: "GothamRoundedMedium";
$secondary-font: "GothamRoundedBook";
$adition-font: "GothamRoundedMediumItalic";
