#motto {
	background-image: url(../img/bg2.png);
	@include main-bg-img;

	.content {
		padding: 75px 0 52px 0;
		margin: 0 auto;
		text-align: center;
		@include flex-col;

		h2 {
			@include motto-text;
			font-size: 40px;
			margin-bottom: 10px;
		}

		h3 {
			@include motto-text;
			font-size: 25px;
			margin-bottom: 40px;

			strong {
				font-family: $adition-font;
			}
		}

		button {
			width: 43px;
			height: 44px;
			border-radius: 50%;
			border: none;
			background-color: $accent-color;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: 0.2s;

			&:focus {
				outline: none;
			}

			&:hover {
				transform: scale(1.2);
			}
		}
	}
}

@media screen and (max-width: 550px) {
	#motto {
		.content {
			h2 {
				font-size: 34px;
			}

			h3 {
				font-size: 20px;
			}
		}
	}
}
